body {

}


/*TopNav Style Section
__________________________*/

#TopNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
}

.LeftNav {
  margin-left: 10%;
  font-family: 'Roboto', sans-serif;
}

h2 {
  line-height: 0;
}

h4 {
  line-height: 0;
}


.RightNav {
  width: 150px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;

}

.RightNav a {
  text-decoration: none;
}

/*PlumbusFeatures Style Section
__________________________*/

#PlumbusFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;

}

.PlumContent {
  margin-left: 10px;
  width: 500px;
}
