body {
  background-image: url(space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

section {
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6, a {
  color: white;
  font-family: 'Audiowide', cursive;
}

p, ul {
  color: white;
  font-family: 'Roboto', sans-serif;
}

/*TopNav Style Section
__________________________*/

#TopNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #D7AEC4;
}

.LeftNav {
  margin-left: 10%;
  font-family: 'Roboto', sans-serif;
}

h2 {
  line-height: 0;
}

h4 {
  line-height: 0;
}


.RightNav {
  width: 150px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10%;

}

.RightNav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.RightNav a:hover {
  background-color: #8C667A;
}

/*INDEX.HTML STYLES*/

/*PlumbusFeatures Style Section
__________________________*/

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  margin-top: 50px;
}

.introplum {
  -webkit-animation: rainbow 1s infinite;
  font-size: 50px;
  font-weight: bold;
}


@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

#PlumbusFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.PlumContent {
  margin-left: 10px;
  width: 600px;
}

.PlumContent h2 {
  margin-top: 30px;
}

.PlumFeatures {
  list-style-type: armenian;
  padding-left: 30px;
}

#PlumbusFeatures h1 {
  text-align: center;
}



/*MostCommonUses Style Section
__________________________*/

#MostCommonUses {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#MostCommonUses img {
  box-shadow: 5px 5px 5px #D7AEC4;
}

#MostCommonUses p {
  margin: 2px;
}


/*IncludedWith Style Section
__________________________*/

#IncludedWith {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#EightFeatures {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
    padding-top: 10px;
}

.feature img {
  box-shadow: 5px 5px 5px #D7AEC4;

}

/*SafetyFirst Style Section
__________________________*/

#SafetyFirst {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#SafetyFirst h6 {
  font-size: 10px;
  margin: 0;
}

#SafetyFirst p {
  font-size: 8px;
}


/*ABOUT.HTML STYLES*/

.company {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.company h1 {
  text-align: center;
}

.CompanyImage {
  display: block;
  margin: 0 auto;
}

.employee {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

.EmployeeSection {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  width: 70%;
}

.photos {
  width: 325px;
  height: 325px;
  position: relative;
}

.teammember {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 5px #D7AEC4;
}

.location {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: -5px -5px 5px #D7AEC4;
}

.teammembertwo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -5px 5px 5px #D7AEC4;
}

.locationtwo {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 5px -5px 5px #D7AEC4;
}

.empright {
  text-align: right;
}

.aboutemployee {
  padding-left: 5px;
  padding-right: 5px;
}


footer {
  display: block;
  text-align: center;
}
